<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Create an employee</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous" />
</head>
<body>
<div class="container">
  <h3>Create an employee</h3>
  <hr/>
  <form action="#" th:action="@{/admins/employees/new}" th:object="${employee}" method="post">
    <p>Name: <input type="text" id="name" name="name" th:field="*{name}" placeholder="Name"></p>
    <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></p>
    <p>Surname: <input type="text" id="surnname" name="surnaname" th:field="*{surname}" placeholder="Surname"></p>
    <p th:if="${#fields.hasErrors('surname')}" class="text-danger" th:errors="*{surname}"></p>
    <p>Email: <input type="text" id="emailAddress" name="email" th:field="*{emailAddress}" placeholder="Email"></p>
    <p></pd><span th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}" class="text-danger">User with this email address already exist!</span></p>
    <p>Department: <input type="text" id="department" name="department" th:field="*{department}" placeholder="Department"></p>
    <p th:if="${#fields.hasErrors('department')}" class="text-danger" th:errors="*{department}"></p>
    <p>Password: <input type="password" id="password" name="password" th:field="*{password}" placeholder="Password"></p>
    <p th:if="${#fields.hasErrors('password')}" class="text-danger" th:errors="*{password}"></p>
    <p>Telephone number: <input type="text" id="telephoneNumber" name="telephoneNumber" th:field="*{telephoneNumber}" placeholder="Telephone number"></p>
    <p th:if="${#fields.hasErrors('telephoneNumber')}" class="text-danger" th:errors="*{telephoneNumber}"></p>
    <div class="form-group row">
      <p><label class="col-form-label col-sm-4">Roles: </label>
      <div class="col-sm-8 text-left">
      <p th:if="${#fields.hasErrors('role')}" class="text-danger" th:errors="*{role}"></p>
        <th:block th:each="role : ${roleList}">
          <div>
            <input type="radio" th:field="*{role}" th:value="${role.id}" th:text="${role.name}">
          </div>
        </th:block>
      </div>
    </div>
    <p><input type="submit" value="Submit"/></p>
  </form>
</div>
</body>
</html>