<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create your account</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>
<body style="background-color: LightSteelBlue;">
<div class="container">
    <h3>Create your account</h3>
    <hr/>
    <form action="#" th:action="@{/register}" th:object="${visitor}" method="post">
        <p>Name: <input type="text" id="name" name="name" th:field="*{name}" placeholder="Name"></p>
        <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></p>
        <p>Surname: <input type="text" id="surname" name="surname" th:field="*{surname}" placeholder="Surname"></p>
        <p th:if="${#fields.hasErrors('surname')}" class="text-danger" th:errors="*{surname}"></p>
        <p>Email: <input type="text" id="emailAddress" name="email" th:field="*{emailAddress}" placeholder="Email"></p>
        <p></pd><span th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}" class="text-danger">User with this email address already exist!</span></p>
        <p>Password: <input type="password" id="password" name="password" th:field="*{password}" placeholder="Password"></p>
        <p th:if="${#fields.hasErrors('password')}" class="text-danger" th:errors="*{password}"></p>
        <p>Telephone number: <input type="text" id="telephoneNumber" name="telephoneNumber" th:field="*{telephoneNumber}" placeholder="Telephone number"></p>
        <p th:if="${#fields.hasErrors('telephoneNumber')}" class="text-danger" th:errors="*{telephoneNumber}"></p>
        <p><input type="submit" value="Submit"/></p>
    </form>
</div>
</body>
</html>